PORT=8080
TAVILY_API_KEY=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
GROQ_API_KEY=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
LLAMA8_MODEL=llama-3.1-8b-instant
LLAMA70_MODEL=llama-3.3-70b-versatile
GEMINI_API_KEY=AIzaSyCHwaABhgJsQujFLPZqv9N48JbzB7IBo-U
GEMINI_MODEL=gemini-1.5-flash
